In [1]:
import pandas as pd
new_df=pd.read_csv('gcj融合4poi.csv',engine='python',encoding='utf_8_sig')

In [ ]:
bashtypes=set(new_df['BASETYPE'].values.tolist())
bashtypes

In [3]:
panduan={}
for i in bashtypes:
    panduan[i]=set(new_df[new_df['BASETYPE']==i]['CATEGORY'].values.tolist())

In [11]:
BertRe=pd.read_csv('bertword70105.csv',engine='python',sep=',',encoding='utf_8_sig')
BertRe.head()

,CATEGORY,IDS,NUMS,SUBTYPE,Topic,Doc_ID
0,政府及社会团体相关 政府机关相关 生活服务场所 乡镇以下级政府及事业单位 乡镇以下级政府及事...,0,11,政府及社会团体相关 政府机关 生活服务场所 政府机关 政府机关 政府机关 临街院门 物流速递...,5,0
1,物流速递 政府及社会团体相关,1,2,物流速递 政府及社会团体相关,-1,1
2,其它农林牧渔基地 物流速递 汽车维修 公司 餐饮相关 餐饮相关 中餐厅 快餐厅 公交车站相关...,2,27,农林牧渔基地 物流速递 汽车维修 公司 餐饮相关场所 餐饮相关场所 中餐厅 快餐厅 公交车站...,-1,2
3,路口名 餐饮相关 公证鉴定机构 公司 小学,3,5,交通地名 餐饮相关场所 公检法机构 公司 学校,-1,3
4,餐饮相关,4,1,餐饮相关场所,6,4

In [6]:
BertRe['Topic'].value_counts()

-1    848
 4    242
 5    217
 2    162
 0    158
 1    123
 3    114
 6    112
Name: Topic, dtype: int64

In [17]:
BertRe['BertIds']=BertRe.index

In [10]:
GridJoin=pd.read_csv('GridJoin.csv',engine='python',sep=',',encoding='utf_8_sig')
GridJoin.head()

,CATEGORY,IDS,NUMS,SUBTYPE,OBJECTID,Label,lng,lat
0,政府及社会团体相关 政府机关相关 生活服务场所 乡镇以下级政府及事业单位 乡镇以下级政府及事...,0,11,政府及社会团体相关 政府机关 生活服务场所 政府机关 政府机关 政府机关 临街院门 物流速递...,1,28,114.291718,30.462484
1,物流速递 政府及社会团体相关,1,2,物流速递 政府及社会团体相关,2,29,114.296722,30.462484
2,其它农林牧渔基地 物流速递 汽车维修 公司 餐饮相关 餐饮相关 中餐厅 快餐厅 公交车站相关...,2,27,农林牧渔基地 物流速递 汽车维修 公司 餐饮相关场所 餐饮相关场所 中餐厅 快餐厅 公交车站...,3,30,114.301720,30.462484
3,路口名 餐饮相关 公证鉴定机构 公司 小学,3,5,交通地名 餐饮相关场所 公检法机构 公司 学校,4,31,114.306725,30.462484
4,餐饮相关,4,1,餐饮相关场所,5,32,114.311722,30.462484

In [ ]:
BertRe[['Topic','Doc_ID','BertIds']]

In [19]:
BertGridJoin=pd.merge(GridJoin,BertRe[['Topic','Doc_ID','BertIds']],how='left',left_on = 'IDS' ,right_on = 'BertIds')#.drop('ID',axis=1)
BertGridJoin.head()

,CATEGORY,IDS,NUMS,SUBTYPE,OBJECTID,Label,lng,lat,Topic,Doc_ID,BertIds
0,政府及社会团体相关 政府机关相关 生活服务场所 乡镇以下级政府及事业单位 乡镇以下级政府及事...,0,11,政府及社会团体相关 政府机关 生活服务场所 政府机关 政府机关 政府机关 临街院门 物流速递...,1,28,114.291718,30.462484,5,0,0
1,物流速递 政府及社会团体相关,1,2,物流速递 政府及社会团体相关,2,29,114.296722,30.462484,-1,1,1
2,其它农林牧渔基地 物流速递 汽车维修 公司 餐饮相关 餐饮相关 中餐厅 快餐厅 公交车站相关...,2,27,农林牧渔基地 物流速递 汽车维修 公司 餐饮相关场所 餐饮相关场所 中餐厅 快餐厅 公交车站...,3,30,114.301720,30.462484,-1,2,2
3,路口名 餐饮相关 公证鉴定机构 公司 小学,3,5,交通地名 餐饮相关场所 公检法机构 公司 学校,4,31,114.306725,30.462484,-1,3,3
4,餐饮相关,4,1,餐饮相关场所,5,32,114.311722,30.462484,6,4,4

In [20]:
BertGridJoin['labels']=BertGridJoin['Topic']

In [21]:
BertGridJoin['CATEGORY'].values.tolist()[0]

'政府及社会团体相关 政府机关相关 生活服务场所 乡镇以下级政府及事业单位 乡镇以下级政府及事业单位 乡镇以下级政府及事业单位 临街院正门 物流速递 生活服务场所 公交车站相关 公共停车场'

In [22]:
def ceshi(word):
  for i in panduan:
    # print(i)
    if word in panduan[i]:
      return i
#返回单词的大类

In [23]:
#400m
#计算两个参数
totalPOI=len(new_df['BASETYPE'].values.tolist())
class_num={'4':242,'5':217,'2':162,'0':158,'1':123,'3':114,'6':112,'-1':848}
len(class_num)

8

In [24]:
bashtypes=set(new_df['BASETYPE'].values.tolist())
bashtypedict={}
for i in bashtypes:
    bashtypedict[i]=len(new_df[new_df['BASETYPE']==i].values.tolist())
bashtypedict

{'交通设施服务': 27749,
 '住宿服务': 14806,
 '体育休闲服务': 16910,
 '公共设施': 3541,
 '公司企业': 33061,
 '医疗保健服务': 21952,
 '商务住宅': 30688,
 '地名地址信息': 51410,
 '室内设施': 2675,
 '摩托车服务': 1006,
 '政府机构及社会团体': 22058,
 '汽车服务': 12898,
 '汽车维修': 6213,
 '汽车销售': 1430,
 '生活服务': 103579,
 '科教文化服务': 32666,
 '购物服务': 8654,
 '通行设施': 26085,
 '道路附属设施': 508,
 '金融保险服务': 13385,
 '风景名胜': 4203,
 '餐饮服务': 65157}

In [25]:
bashtypelist=list(bashtypedict.keys())

In [38]:
#获取各类的数量
def get_class(sentence):
    item_list={}
    for i in bashtype:
      item_list[i]=0
    try:
        tmp=sentence.split(' ')
        for i in tmp:
            label=ceshi(i)
            item_list[label]=item_list[label]+1
    except:
        pass
    return item_list

In [27]:
def merge_dict(x,y):
    for k,v in x.items():
                if k in y.keys():
                    y[k] += v
                else:
                    y[k] = v
    return y

In [28]:
def adddict(A,B):
    for key,value in B.items():
        if key in A:
            A[key] += value
        else:
            A[key] = value
    return(dict(sorted(A.items(), key=lambda B:B[1])))

In [29]:
#Nij 需要保存
import math
cellarea=math.pi*0.4*0.4

In [30]:
class_num.keys()

dict_keys(['4', '5', '2', '0', '1', '3', '6', '-1'])

In [66]:
BertGridJoin[BertGridJoin['labels']==0]

,CATEGORY,IDS,NUMS,SUBTYPE,OBJECTID,Label,lng,lat,Topic,Doc_ID,BertIds,labels
58,NaN,58,0,NaN,59,157,114.326721,30.472485,0,58,58,0
162,NaN,162,0,NaN,163,323,114.241722,30.487486,0,162,162,0
163,NaN,163,0,NaN,164,324,114.246719,30.487486,0,163,163,0
183,NaN,183,0,NaN,184,344,114.346718,30.487486,0,183,183,0
185,NaN,185,0,NaN,186,346,114.356720,30.487486,0,185,185,0
186,NaN,186,0,NaN,187,347,114.361717,30.487486,0,186,186,0
187,NaN,187,0,NaN,188,348,114.366722,30.487486,0,187,187,0
189,NaN,189,0,NaN,190,350,114.376724,30.487486,0,189,189,0
204,NaN,204,0,NaN,205,383,114.236717,30.492485,0,204,204,0
205,NaN,205,0,NaN,206,384,114.241722,30.492485,0,205,205,0
206,NaN,206,0,NaN,207,385,114.246719,30.492485,0,206,206,0
207,NaN,207,0,NaN,208,386,114.251724,30.492485,0,207,207,0
226,NaN,226,0,NaN,227,405,114.346718,30.492485,0,226,226,0
227,NaN,227,0,NaN,228,406,114.351723,30.492485,0,227,227,0
228,NaN,228,0,NaN,229,407,114.356720,30.492485,0,228,228,0
229,NaN,229,0,NaN,230,408,114.361717,30.492485,0,229,229,0
250,NaN,250,0,NaN,251,445,114.241722,30.497484,0,250,250,0
272,NaN,272,0,NaN,273,467,114.351723,30.497484,0,272,272,0
297,NaN,297,0,NaN,298,506,114.241722,30.502485,0,297,297,0
298,NaN,298,0,NaN,299,507,114.246719,30.502485,0,298,298,0
299,NaN,299,0,NaN,300,508,114.251724,30.502485,0,299,299,0
300,NaN,300,0,NaN,301,509,114.256721,30.502485,0,300,300,0
301,NaN,301,0,NaN,302,510,114.261719,30.502485,0,301,301,0
348,NaN,348,0,NaN,349,569,114.251724,30.507484,0,348,348,0
349,NaN,349,0,NaN,350,570,114.256721,30.507484,0,349,349,0
350,NaN,350,0,NaN,351,571,114.261719,30.507484,0,350,350,0
351,NaN,351,0,NaN,352,572,114.266724,30.507484,0,351,351,0
398,NaN,398,0,NaN,399,630,114.251724,30.512486,0,398,398,0
399,NaN,399,0,NaN,400,631,114.256721,30.512486,0,399,399,0
400,NaN,400,0,NaN,401,632,114.261719,30.512486,0,400,400,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1802,NaN,1802,0,NaN,1803,2295,114.341721,30.647486,0,1802,1802,0
1803,NaN,1803,0,NaN,1804,2296,114.346718,30.647486,0,1803,1803,0
1804,NaN,1804,0,NaN,1805,2297,114.351723,30.647486,0,1804,1804,0
1805,NaN,1805,0,NaN,1806,2298,114.356720,30.647486,0,1805,1805,0
1806,NaN,1806,0,NaN,1807,2299,114.361717,30.647486,0,1806,1806,0
1807,NaN,1807,0,NaN,1808,2300,114.366722,30.647486,0,1807,1807,0
1808,NaN,1808,0,NaN,1809,2301,114.371719,30.647486,0,1808,1808,0
1809,NaN,1809,0,NaN,1810,2302,114.376724,30.647486,0,1809,1809,0
1831,NaN,1831,0,NaN,1832,2357,114.346718,30.652485,0,1831,1831,0
1832,NaN,1832,0,NaN,1833,2358,114.351723,30.652485,0,1832,1832,0
1833,NaN,1833,0,NaN,1834,2359,114.356720,30.652485,0,1833,1833,0
1859,NaN,1859,0,NaN,1860,2419,114.351723,30.657486,0,1859,1859,0
1860,NaN,1860,0,NaN,1861,2420,114.356720,30.657486,0,1860,1860,0
1906,NaN,1906,0,NaN,1907,2543,114.361717,30.667484,0,1906,1906,0
1907,NaN,1907,0,NaN,1908,2544,114.366722,30.667484,0,1907,1907,0
1908,NaN,1908,0,NaN,1909,2545,114.371719,30.667484,0,1908,1908,0
1909,NaN,1909,0,NaN,1910,2546,114.376724,30.667484,0,1909,1909,0
1910,NaN,1910,0,NaN,1911,2547,114.381721,30.667484,0,1910,1910,0
1911,NaN,1911,0,NaN,1912,2548,114.386719,30.667484,0,1911,1911,0
1921,NaN,1921,0,NaN,1922,2601,114.346718,30.672485,0,1921,1921,0
1925,NaN,1925,0,NaN,1926,2605,114.366722,30.672485,0,1925,1925,0
1927,NaN,1927,0,NaN,1928,2607,114.376724,30.672485,0,1927,1927,0
1928,NaN,1928,0,NaN,1929,2608,114.381721,30.672485,0,1928,1928,0
1929,NaN,1929,0,NaN,1930,2609,114.386719,30.672485,0,1929,1929,0
1930,NaN,1930,0,NaN,1931,2610,114.391724,30.672485,0,1930,1930,0
1943,NaN,1943,0,NaN,1944,2668,114.376724,30.677484,0,1943,1943,0
1944,NaN,1944,0,NaN,1945,2669,114.381721,30.677484,0,1944,1944,0
1945,NaN,1945,0,NaN,1946,2670,114.386719,30.677484,0,1945,1945,0
1964,NaN,1964,0,NaN,1965,2786,114.356720,30.687485,0,1964,1964,0
1971,NaN,1971,0,NaN,1972,2846,114.351723,30.692486,0,1971,1971,0

In [67]:
bashtypes

{'交通设施服务',
 '住宿服务',
 '体育休闲服务',
 '公共设施',
 '公司企业',
 '医疗保健服务',
 '商务住宅',
 '地名地址信息',
 '室内设施',
 '摩托车服务',
 '政府机构及社会团体',
 '汽车服务',
 '汽车维修',
 '汽车销售',
 '生活服务',
 '科教文化服务',
 '购物服务',
 '通行设施',
 '道路附属设施',
 '金融保险服务',
 '风景名胜',
 '餐饮服务'}

In [68]:
bashtype={'餐饮服务', '道路附属设施', '地名地址信息', '风景名胜','公共设施','交通设施服务',
          '购物服务', '通行设施', '金融保险服务', '科教文化服务','摩托车服务',
          '汽车服务', '汽车维修', '汽车销售', '商务住宅', '生活服务','室内设施',
          '体育休闲服务', '住宿服务', '医疗保健服务', '政府机构及社会团体', '公司企业'}

In [70]:

from functools import reduce
# CATEGORY	IDS	NUMS	SUBTYPE	OBJECTID	Label	lng	lat	x	y	labels	BertIds
#Nij需要存储进去
PDs=[]
EFs=[]

for i in ['1','2', '3','4','5' ,'6', '-1']:#class_num.keys():#class_num:#遍历列
    PD=[]
    EF=[]

    tmp=BertGridJoin[BertGridJoin['labels']==int(i)]
#     prin
    #print(tmp.shape[0])
    #遍历功能区
    funcnum=0
    #22类POI的分别数量
    POIlist={}
    for j in bashtype:
        POIlist[j]=0
    
    for index, row in tmp.iterrows():
    #print(index) # 输出每行的索引值
    #统计功能区I内的POI总数量
        funcnum=funcnum+row['NUMS']
#         print(row['CATEGORY'])
        try:
            tmpdic=get_class(row['CATEGORY'])
    #         print(tmpdic)
    #         print(POIlist)
            POIlist=merge_dict(tmpdic,POIlist)
        except Exception as e:
            print(e)
            print(row['CATEGORY'])
    print(POIlist)
#     print(POIlist['医疗保健服务'])
    
    for k in bashtype:
#         try:
#         print(i)
        PD.append(POIlist[k]/(class_num[i]*cellarea))
        a=POIlist[k]/reduce(lambda x,y:x+y,POIlist.values())
        b=bashtypedict[k]/totalPOI
        EF.append((a)/(b))
#         except Exception as e:
# #             print(POIlist)
# #             print(bashtypedict[k])
#             print(e)
    PDs.append(PD)
    EFs.append(EF)
    
#     print(POIlist)

{'医疗保健服务': 221, '公司企业': 300, '地名地址信息': 73, '道路附属设施': 5, '住宿服务': 190, '餐饮服务': 746, '购物服务': 36, '科教文化服务': 483, '金融保险服务': 80, '汽车销售': 9, '汽车服务': 47, '汽车维修': 22, '生活服务': 1059, '公共设施': 144, '通行设施': 468, '交通设施服务': 794, '室内设施': 6, '商务住宅': 228, '体育休闲服务': 462, '风景名胜': 2613, '摩托车服务': 0, '政府机构及社会团体': 389}
{'医疗保健服务': 1231, '公司企业': 1502, '地名地址信息': 149, '道路附属设施': 11, '住宿服务': 1130, '餐饮服务': 4357, '购物服务': 278, '科教文化服务': 6930, '金融保险服务': 850, '汽车销售': 16, '汽车服务': 348, '汽车维修': 218, '生活服务': 5342, '公共设施': 125, '通行设施': 3093, '交通设施服务': 1998, '室内设施': 61, '商务住宅': 5166, '体育休闲服务': 1541, '风景名胜': 327, '摩托车服务': 6, '政府机构及社会团体': 1023}
{'医疗保健服务': 332, '公司企业': 2696, '地名地址信息': 149, '道路附属设施': 13, '住宿服务': 274, '餐饮服务': 984, '购物服务': 116, '科教文化服务': 673, '金融保险服务': 390, '汽车销售': 79, '汽车服务': 505, '汽车维修': 160, '生活服务': 2035, '公共设施': 49, '通行设施': 1002, '交通设施服务': 753, '室内设施': 0, '商务住宅': 922, '体育休闲服务': 357, '风景名胜': 17, '摩托车服务': 7, '政府机构及社会团体': 397}
{'医疗保健服务': 8517, '公司企业': 7308, '地名地址信息': 6509, '道路附属设施': 146, '住宿服务': 3715, '餐饮服务': 21244, '购物服务': 1508, '科教文化服务': 7976, '金融保险服务': 4823, '汽车销售': 339, '汽车服务': 3885, '汽车维修': 1537, '生活服务': 35284, '公共设施': 582, '通行设施': 6505, '交通设施服务': 7301, '室内设施': 34, '商务住宅': 7238, '体育休闲服务': 5132, '风景名胜': 522, '摩托车服务': 134, '政府机构及社会团体': 4112}
{'医疗保健服务': 2437, '公司企业': 5208, '地名地址信息': 1085, '道路附属设施': 56, '住宿服务': 1668, '餐饮服务': 7148, '购物服务': 427, '科教文化服务': 3774, '金融保险服务': 1928, '汽车销售': 830, '汽车服务': 3634, '汽车维修': 1711, '生活服务': 12377, '公共设施': 321, '通行设施': 3194, '交通设施服务': 3977, '室内设施': 180, '商务住宅': 3066, '体育休闲服务': 2016, '风景名胜': 370, '摩托车服务': 104, '政府机构及社会团体': 3215}
{'医疗保健服务': 3167, '公司企业': 5388, '地名地址信息': 749, '道路附属设施': 56, '住宿服务': 3511, '餐饮服务': 13721, '购物服务': 812, '科教文化服务': 5408, '金融保险服务': 2292, '汽车销售': 90, '汽车服务': 845, '汽车维修': 354, '生活服务': 16117, '公共设施': 330, '通行设施': 2961, '交通设施服务': 3749, '室内设施': 2043, '商务住宅': 3208, '体育休闲服务': 3222, '风景名胜': 213, '摩托车服务': 28, '政府机构及社会团体': 2046}
{'医疗保健服务': 12878, '公司企业': 17540, '地名地址信息': 4414, '道路附属设施': 238, '住宿服务': 8605, '餐饮服务': 39833, '购物服务': 2645, '科教文化服务': 17020, '金融保险服务': 8232, '汽车销售': 514, '汽车服务': 6621, '汽车维修': 3314, '生活服务': 60928, '公共设施': 1333, '通行设施': 14405, '交通设施服务': 16295, '室内设施': 1842, '商务住宅': 17500, '体育休闲服务': 10263, '风景名胜': 1352, '摩托车服务': 146, '政府机构及社会团体': 9386}

In [46]:
class_num['4']

242

In [33]:
cellarea

0.5026548245743669

In [71]:
import numpy as np
pd.DataFrame(np.array(PDs).T).to_csv('PD0105.csv',index=None)
pd.DataFrame(np.array(EFs).T).to_csv('EF0105.csv',index=None)

In [65]:
BertGridJoin.to_csv('BertGridJoin0105.csv',index=None)